{% extends 'magas/Ellizium_template.html' %}

{% block content %}
<h2>Ограничение по статам</h2>
<h4>допустим чтоб носить латы из начальных металлов до стали нужно иметь 20 силы и 10 телосложения.
для чешуйчатых и пластинчатых до уровня стали  сила 15 и ловкость 15
для кожи в зависимости от метода и зверя. для мягкой ловкость 20 сила 10 для тугой вываренной  ловкость 15 и тело  10
для тканевых ловкость 10
при повышении качества материала брони в зависимости от тяжести от +2 до +5 к статам требуемых для ношения
укрепленная (ткань) +2, легкая (кожа) +3 ,  средняя (чешуйчатая/пластинчатая) +4 , латы +5
</h4>
<h2>D плане оружия</h2>
<h4>кинжалы/ножи ловкость 10-15  восприятие 10-15
рапиры/катаны восприятие 15 ловкость 15
короткие мечи сила10-15 восприятие 10-15
мечи/мачете/скимитар сила 15 ловкость 15 восприятие 10-15
полуторные мечи/длинные мечи  сила 15 ловкость 15 тело 10
двуручные мечи/молоты/секиры сила 15 тело 15
одноручные топоры/молоты/моргенштерн сила 10 тело 10
цепы (оружия на цепи/веревках) восприятие 15 ловкость 15
метательное (кинжалы/топоры/дротики) восприятие 15 ловкость 15 интеллект 10
посохи/жезлы/гримуары интеллект 15 сила воли 10
Луки ловкость 15 восприятие 15
арбалеты сила 15 восприятие 15
при повышении качества материала и редкости (исключение именное оружие) так же как в предыдущем случае от +2 до +5 ...

навыки вроде "владение кинжалами/мечами/топорами..." или ношение легких/средних/тяжелых (лат) доспехов" уменьшают для владельца стоимость характеристик на материал уровнем выше "привычного" например "ношение латных доспехов (железо)" облегчает возможность носить стальные... и только через некоторое время можно будет использовать ранг выше...</h4>
{% endblock %}


